<h3>Categories</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">label</th>
            <th scope="col">description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let c of categories" >
            <td>{{c.label}}</td>
            <td>{{c.description}}</td>
            <td> <button class="btn btn-success" (click)="editCategory(c)">Edit</button>
                 <button class="btn btn-danger" (click)="deleteCategory(c.idCategory)">Delete</button>, ads </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header">
          <h2>{{action}} category</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="categoryForm">
            <div class="form-group">
              <input type="hidden" formControlName="idCategory"/>
            </div>
            <div class="form-group">
              <label>Category label</label>
              <input type="text" class="form-control" formControlName="label"/>
            </div>
            <div class="form-group">
              <label>Category description</label>
              <input type="text" class="form-control" formControlName="description"/>
            </div>
            <button class="btn btn-success" 
                    [disabled]="categoryForm.prestine || categoryForm.invalid"
                    (click)="saveCategory()">
              Add category</button>
            <button class="btn btn-danger" 
                    [(disabled)]="categoryForm.invalid || categoryForm.prestine"
                    (click)="resetForm()">Reset</button>
          </form>
        </div>
        <div class="card-footer">
          <div class="alert alert-danger" *ngIf="categoryForm.controls['label'].invalid 
                                               && (categoryForm.controls['label'].touched || categoryForm.controls['label'].dirty)" >
            Field mandatory
          </div>
        </div>
      </div>
    </div>
  </div>
</div>