<h3>Payment Modes</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">label</th>
                    <th scope="col">description</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let pm of paymentModes" >
                    <td>{{pm.label}}</td>
                    <td>{{pm.description}}</td>
                    <td> <button class="btn btn-success" (click)="editPaymentMode(pm)">Edit</button>
                         <button class="btn btn-danger" (click)="deletePaymentMode(pm.idPayment)">Delete</button>, ads </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header">
                    <h2>Manage payment mode</h2>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <form [formGroup]="paymentModeForm">
                        <div class="form-group">
                            <input type="hidden" formControlName="idPayment" [(ngModel)]="selectedPaymentMode.idPayment" />
                        </div>
                        <div class="form-group">
                            <label>Label</label>
                            <input type="text" class="form-control" formControlName="label" [(ngModel)]="selectedPaymentMode.label" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" formControlName="description" [(ngModel)]="selectedPaymentMode.description" />
                        </div>

                        <button (click)="savePaymentMode()" class="btn btn-success">Save </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>