
<div class="container col-lg-8">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <form [formGroup]="adForm">
                <div class="">
                    <input type="hidden" formControlName="idAd"/>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name"/>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" formControlName="description" />
                </div>

                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" formControlName="category">
                        <option *ngFor="let c of categories" [ngValue]="c">{{c.label}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>From adress</label>
                    <input type="text" class="form-control" formControlName="fromAdress"/>
                </div>
                
                <div class="form-group">
                    <label>To adress</label>
                    <input type="text" class="form-control" formControlName="toAdress"/>
                </div>
                

                <div class="form-group">
                    <label>Departure date </label>
                    <input type="datetime" class="form-control" formControlName="departureDate"/>
                </div>
                
                <div class="form-group">
                    <label>arrival date</label>
                    <input type="datetime" class="form-control" formControlName="arrivalDate" />
                </div>
                
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" formControlName="price"/>
                </div>
                
                <div class="form-group">
                    <label>Payment mode</label>
                    <select class="form-control" formControlName="paymentMode">
                        <option *ngFor="let pm of paymentModes" [ngValue]="pm">{{pm.label}}</option>
                    </select>
                </div>
                <button class="btn btn-success" (click)="saveAd()"> Save</button>
            </form>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
    