<div class="row">
    <div class="container">
        <div class="col-lg-12" *ngFor="let a of ads">
            <a routerLink="/viewAd" (click)="viewAd(a)"><h4>{{a.name}}</h4></a>
            <p>a.description</p>
        </div>
    </div>
</div>