<div class="row">
  <div class="col-lg-2 bg-light">
      <app-side-bar></app-side-bar>
  </div>
  <div class="col-lg-10">
      <div class="nav-bar">
        <app-nav-bar></app-nav-bar>
      </div>
      <div class="content">
        <app-content></app-content>
      </div>
  </div>
</div>
