
<div class="bg-light border-right" id="sidebar-wrapper"></div>
<div class="sidebar-heading h-20 d-inline-block"> </div>
<div class="list-group list-group-flush bg-light">
  <a  class="list-group-item list-group-item-action bg-light">Dashboard</a>
  <a routerLink="/categories"  class="list-group-item list-group-item-action bg-light">All categories</a>
  <a routerLink="/paymentModes" class="list-group-item list-group-item-action bg-light">All payment modes</a>
  <a routerLink="/ads" class="list-group-item list-group-item-action bg-light">Ads</a>
  <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
  <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
</div>
